.bookingForm{
    /* margin: 30px 100px; */
    border: 2px solid black;
    padding: 25px 0;
}

.bookingForm input {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding:5px;
    border-bottom: 1px solid gray;
    border-radius:5px;
    width: 650px;
    
}
.error{
    color: red;
}

.submitButton{
    background-color:#F9A51A; 
    width: 400px; 
    margin:20px;
}


